#lazybox_overlay {
  background: black;
  bottom: 0px;
  display: none;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

#lazybox {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px #333;
  display: none;
  left: 49%;
  padding: 20px;
  position: absolute;
  top: 49%;
  z-index: 1001;
  &.confirm { max-width: 300px; }
  .lazy_buttons { margin-top: 15px; text-align: right; }
  img.lazy_img { display: block; }
  #lazybox_body { position: relative; }
}

a#lazybox_close {
  background: transparent;
  color: gray;
  cursor: pointer;
  font: bold 26px/100% Arial, Helvetica, sans-serif;
  height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 25px;
  &:hover { color: black; }
}

a#prev_lazy_img, a#next_lazy_img {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  outline: none;
  position: absolute;
  top: 0;
  text-decoration: none;
  width: 33px;
  &:hover {
    background: rgba(0, 0, 0, 0.3);
    b { opacity: 0.8; }
  }
  b {
    color: whiteSmoke;
    font: bold 96px/100% Arial, Helvetica, sans-serif;
    height: 100px;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    margin-top: -50px;
  }
}

a#next_lazy_img { right: 0; }
